
/* Armando Robles 11/5/2021 */
@font-face {
	font-family: 'chonk';
	src: url('../fonts/chunkfive-regular-webfont.woff') format('woff'),
		 url('../fonts/chunkfive-regular-webfont.woff2') format('woff2');
		 font-weight: normal;
		 font-style: normal;
}
footer {
	font-size: 1em;
	text-align: center;
	padding: 10px;
}

main {
	background-image: linear-gradient(#FFFFFF,
									#F0F9E6);
	padding: 10px ;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
	float: left;
	border-radius: 50%;
}

html {
	background-image: url('../images/jewelry.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
	 
#outerwrapper {	
	border-radius: 15%;
	background: rgba(243,205,170, 0.4);
	width: 70%;
	margin-left: 15%;
}
.addrightmargin {
	margin-right: 10%;
}

nav ul {
	list-style-type: none;
	font-size: 1.5em;
	clear: both;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	text-align: center;
	margin-right: 25%;
}
h2 {
	font-family: 'chonk';
	font-style: italic;
	font-size: 2em;
	text-align: center;
	margin-right: 25%;
}