
h1, p {
    font-size: 150%;
    margin-bottom: .5em;
}
div {
    margin-bottom: 1em;
}
input {
    width: 22em;
    margin-bottom: .5em;
}
#tasks {
    margin-top: 0;
    float: right; 
    width: 24em;
    min-height: 5em;
}