/*********************************************************************
***
*Original Author: Armando Robles                                   *
*Date Created: 1/19/2022                                      *
*Version:1.00                                                *
*Date Last Modified:1/28/2022                              *
*Modified by:  Armando Robles                                        *
*Modification log:                                  *
*1/21/2022: Basic alert system informing the client that the website is incomplete.*
*1/21/2022: Added CSS to make website mobile ready*
*1/28/2022: Added CSS for FAQ, Contact us, and vineyard elements*
******************************************************************** */

/* Slideshow */
#slideshow h1, h2 {
  text-align: center;
}
#slideshow ul { 
  display: none; 
}
#slideshow p {
  text-align: center;
}


/* Tablet and Computer CSS */
@media (min-width: 621px) {
#logo {
 width: 45%;
}
#windowFarm {
 width: 60%;
}
}

/* Mobile CSS */
@media (max-width: 620px) {
#logo {
width: 100%;
}
#windowFarm {
width: 100%;
}
}

body {
    background-color: #64a020b7;
}
header, main {
    text-align: center;
    align-items: center;
}
/* button {
    background-color: #64a020b7;
    font-size: xx-large;
    align-items: center;
} */
/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.438);
  }
  footer {
    background-color: rgba(51, 51, 51, 0.438);
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.75em;
    font-weight: bold;
  }
  
  li a:hover {
    background-color: rgba(17, 17, 17, 0.315);
  }

  .button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

   ul #image_list { 
    display: none; 
} 
main div {
  padding-top: 25px;
  padding-bottom: 25px;
}
/* Slideshow */
#slideshow h1, h2 {
  text-align: center;
}
#slideshow ul { 
  display: none; 
}
#slideshow p {
  text-align: center;
}